.table-responsive
  %table.table.cart
    %thead
      %th Number
      %th Completed at
      %th Total
    %tbody
      - orders.each do |order|
        %tr
          %td= order.number
          %td= order.completed_at.to_date
          %td= number_to_currency order.total
          %td= link_to 'view', order